<h5 class="stock-delivery-date-title">Delivery Date</h5>
<p id="delivery_date">
  <%= form.label :delivery_date, "Delivery Date" %><br />
  <%= form.date_select :delivery_date, default: Date.yesterday %><br />
  <%= form.label :delivery_time, "Delivery Time" %><br />
  <%= form.select :delivery_time, JSON.parse(YgSpreeDeliveryDate::Config.delivery_time_options).values, {}
</p>
