<h5 class="stock-delivery-date-title">Delivery Date</h5>
<p id="delivery_date">
  <%= form.label :delivery_date, "Delivery Date" %><br />
  <%= form.date_select :delivery_date %><br />
  <%= form.label :delivery_time, "Delivery Time" %><br />
  <%= form.select :delivery_time, DELIVERY_TIME_OPTIONS.values, {}
</p>
