@import 'spree/frontend/variables';

#shipping_method {
  .stock-delivery-date-title, .stock-delivery-instructions-title {
    background-color: lighten($body_text_color, 70);
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size :11px;
   }
}

#delivery_date, #delivery_instructions {
  .field {
    margin: 20px 0;

    label {
      margin-right: 20px;
    }
  }

  .delivery-time-options {
    display: none;
  }
}

#delivery_instructions textarea {
  width: 100%;
  min-height: 100px;
}
